# Binaries for programs and plugins
app/services/tasker/tasker
app/services/worker/worker
app/services/metrics/metrics
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
